<div class="skills">
    <img loading="lazy" class="background" src="assets/template/welcome/illustration-back.png" alt="Background circle"/>
    <img loading="lazy" class="skill-icon first" src="assets/template/welcome/icons/docker.svg" alt="docker"/>
    <img loading="lazy" class="skill-icon second" src="assets/template/welcome/icons/github.svg" alt="github"/>
    <img loading="lazy" class="skill-icon third" src="assets/template/welcome/icons/git.svg" alt="git"/>
    <img loading="lazy" class="skill-icon fourth" src="assets/template/welcome/icons/spring.svg" alt="springboot"/>
    <img loading="lazy" class="skill-icon fifth" src="assets/template/welcome/icons/database.png" alt="database"/>
    <img loading="lazy" class="skill-icon sixth" src="assets/template/welcome/icons/python.svg" alt="python"/>
    <img loading="lazy" class="skill-icon seventh" src="assets/template/welcome/icons/java.svg" alt="java"/>
    <img loading="lazy" class="skill-icon eighth" src="assets/template/welcome/icons/terraform.svg" alt="terraform"/>
    <img loading="lazy" class="skill-icon ninth" src="assets/template/welcome/icons/aws.svg" alt="aws"/>
</div>
